.about_us{
    padding: 100px 70px 0px 70px;
    background-color: #E2FFEE;
    min-height: 100vh;
    .inner{
        padding: 10px;
        display: flex;
        flex-direction: column;

        .who_we_are{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            
            .text{
                padding: 0px 40px;
                display: flex;
                flex-direction: column;
                gap: 24px;
                justify-content: center;
                h1{
                    
                    font-weight: 700;
                    font-size: clamp(32px,4vw,54px);
                }
                p{
                    max-width: 500px;
                    font-weight: 300;
                    font-size: clamp(16px,4vw,18px);
                    line-height: 26px;
                }
            }


            .img{
                display: flex;
                align-items: center;
                justify-content: center;
                .sec_svg{
                    width: 100%;
                    height: auto;
                    max-width: 500px;
                }
            }
        }
        .what_we_do{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            
            .text{
                padding: 0px 40px;
                display: flex;
                flex-direction: column;
                gap: 24px;
                justify-content: center;
                align-items: flex-end;
                h1{
                  
                    font-weight: 700;
                    font-size: clamp(32px,4vw,54px);
                }
                p{
                  text-align: right;
                    max-width: 500px;
                    font-weight: 300;
                    font-size: clamp(16px,4vw,18px);
                    line-height: 26px;
                }
            }


            .img{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .sec_svg{
                    width: 100%;
                    height: auto;
                    max-width: 450px;
                }
            }
        }
    }
}