.marketig_section {
  width: 100%;
  height: 100%;
  padding: 40px 0px;

  .inner {
    width: 100%;
    min-height: 450px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    .inner_left {
      padding: 40px 80px;
      .banner_svg {
        width: 100%;
        height: auto;
        max-width: 450px;
      }
    }
    .inner_right {
      display: flex;
      flex-direction: column;
      // padding: 60px 80px 60px 10px;
      justify-content: center;
      padding: 40px 80px;
      // background-color: rebeccapurple;
      .title {
        text-transform: capitalize;
        color: black;
        font-weight: 600;
        font-size: clamp(32px, 4vw, 38px);
        margin-bottom: 30px;
      }

      .desc {
        font-size: clamp(18px, 4vw, 19px);
        max-width: 480px;
        font-weight: 400px;
        color: black;
        line-height: 32px;
      }

      .list {
        // background-color: red;
        margin-top: 34px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: fit-content;
        column-gap: 8px;
        row-gap: 18px;
        li {
          border-radius: 4px;
          width: fit-content;
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 12px 16px;
          background-color: #77ff9e;
          p {
            font-weight: 500;
            color: black;
            text-transform: capitalize;
          }

          .dot {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: black;
          }
        }
      }
      a {
        text-decoration: none;
      }
      .marketing_cta {
        margin-top: 32px;
        display: flex;
        width: fit-content;
        align-items: center;
        color: black;
        gap: 8px;
        border: none;
        outline: none;
        font-size: 16px;
        background-color: rgba(16, 250, 35, 0.445);
        border-radius: 4px;
        padding: 10px 16px;
        font-weight: 600;
        text-transform: capitalize;
        cursor: pointer;
        transition: all 120ms ease-in-out;

        &:hover {
          background-color: rgb(143, 243, 123);
          .sm_svg {
            transform: rotate(-90deg) translateY(8px);
          }
        }
        &:active {
          transform: scale(0.95);
        }

        .sm_svg {
          transition: all 120ms ease-in-out;
          transform: rotate(-90deg) translateY(0px);
        }
      }
    }
  }
}

// media-query
@media only screen and (max-width: 576px) {
  .marketig_section {
    padding: 20px 0px;
    .inner {
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 0.5fr;

      .inner_left {
        padding: 40px 20px;
        padding: 40px;
        .banner_svg {
          width: 100%;
          height: auto;
          max-width: 380px;
        }
      }
      .inner_right {
        display: flex;
        flex-direction: column;
        // padding: 60px 80px 60px 10px;
        justify-content: center;
        padding: 40px 25px;
        // background-color: rebeccapurple;
        .title {
          text-transform: capitalize;
          color: black;
          font-weight: 600;
          font-size:28px;
          margin-bottom: 30px;
        }

        .desc {
          font-size: clamp(18px, 4vw, 19px);
          max-width: 480px;
          font-weight: 400px;
          color: black;
          line-height: 32px;
        }

        .list {

          margin-top: 34px;
          display: grid;
          grid-template-columns: .5fr .5fr;
          grid-template-rows: .5fr .5fr;
          width: 100%;
          column-gap: 8px;
          row-gap: 18px;
          li {
            border-radius: 4px;
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 16px 18px;
            background-color: #77ff9e;
            p {
              font-size: 17px;
              font-weight: 600;
              color: black;
              text-transform: capitalize;
            }

            .dot {
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: black;
            }
          }
        }
        a {
          text-decoration: none;
        }
        .marketing_cta {
          margin-top: 32px;
          display: flex;
          width: fit-content;
          align-items: center;
          color: black;
          gap: 8px;
          border: none;
          outline: none;
          font-size: 16px;
          background-color: rgba(16, 250, 35, 0.445);
          border-radius: 4px;
          padding: 10px 16px;
          font-weight: 600;
          text-transform: capitalize;
          cursor: pointer;
          transition: all 120ms ease-in-out;

          &:hover {
            background-color: rgb(143, 243, 123);
            .sm_svg {
              transform: rotate(-90deg) translateY(8px);
            }
          }
          &:active {
            transform: scale(0.95);
          }

          .sm_svg {
            transition: all 120ms ease-in-out;
            transform: rotate(-90deg) translateY(0px);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
}

// tablate
@media only screen and (min-width: 768px) and (max-width: 915px) {
}
