.sellersuccess__webapp {
  position: relative;
  width: 100%;
  max-width: 1380px;
  margin: auto;
  height: 100%;
  background-color: #ffffff;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
