.navbar {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1380px;
  z-index: 50000;
  position: fixed;
  transition: all 350ms ease-in-out;
}
.navbar .app_bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 75px 14px 80px;
  transition: all 120ms ease-in-out;
}
.navbar .app_bar.scrollOverlay {
  background-color: #cffcc6;
  padding: 14px 68px 14px 68px;
}
.navbar .app_bar.scrollOverlay .navigation .tools_page_redirect {
  display: none;
}
.navbar .app_bar .app_logo {
  cursor: pointer;
  width: 100%;
  height: auto;
  max-width: 140px;
}
.navbar .app_bar .navigation {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}
.navbar .app_bar .navigation .open_menu_svg {
  width: 24px;
  height: 24px;
  display: none;
  cursor: pointer;
}
.navbar .app_bar .navigation ul {
  display: flex;
  align-items: center;
}
.navbar .app_bar .navigation ul li {
  display: inline-block;
  cursor: pointer;
  margin-left: 54px;
  font-weight: 400;
  color: black;
  font-style: normal;
  text-transform: capitalize;
  font-size: clamp(14px, 4vw, 16px);
  transition: all 120ms ease-in-out;
}
.navbar .app_bar .navigation ul li:hover {
  color: rgb(56, 56, 56);
}
.navbar .app_bar .navigation ul li:active {
  transform: scale(0.9);
}
.navbar .app_bar .navigation .tools_page_redirect {
  transition: all 120ms ease-in-out;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
  display: flex;
  font-size: clamp(14px, 4vw, 17px);
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 12px;
  border: 1px solid black;
  font-weight: 600;
  color: black;
  background-color: transparent;
  text-transform: capitalize;
}
.navbar .app_bar .mobile_menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  right: -500px;
  top: 0;
  width: 100%;
  z-index: 500;
  max-width: 250px;
  height: 100vh;
  background-color: #e7ffe9;
  transition: all 120ms ease-in-out;
  padding: 30px 20px;
}
.navbar .app_bar .mobile_menu .close_menu_svg {
  width: 24px;
  cursor: pointer;
  align-self: flex-end;
  height: 24px;
  transition: all 120ms ease;
  background-color: #8aff94;
  padding: 5px;
  border-radius: 6px;
}
.navbar .app_bar .mobile_menu .close_menu_svg:hover {
  background-color: #c9fccd;
}
.navbar .app_bar .mobile_menu .close_menu_svg:active {
  transform: scale(0.95);
}
.navbar .app_bar .mobile_menu .close_menu_svg path {
  fill: black;
}
.navbar .app_bar .mobile_menu ul {
  padding: 40px 10px 20px 10px;
  min-height: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 38px;
}
.navbar .app_bar .mobile_menu ul a {
  width: 100%;
  text-decoration: none;
  color: black;
}
.navbar .app_bar .mobile_menu ul li {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 8px;
  border-radius: 6px;
  transition: all 120ms ease-in-out;
}
.navbar .app_bar .mobile_menu ul li .sm_svg {
  width: 25px;
  height: 25px;
}
.navbar .app_bar .mobile_menu ul li:hover {
  background-color: #8aff94;
}
.navbar .app_bar .mobile_menu ul li:active {
  background-color: #8aff94;
  transform: scale(0.95);
}
.navbar .app_bar .mobile_menu .spacing {
  width: 100%;
  height: 30%;
}
.navbar .app_bar .mobile_menu .wa_btn {
  text-decoration: none;
  color: black;
  position: relative;
  display: flex;
}
.navbar .app_bar .mobile_menu .wa_btn .call {
  width: 100%;
  padding: 12px 0px;
  justify-self: end;
  color: black;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8aff94;
  gap: 15px;
  font-weight: 600;
  transition: all 120ms ease-in-out;
}
.navbar .app_bar .mobile_menu .wa_btn .call:hover {
  background-color: #8aff94;
  padding: 12px 8px;
}
.navbar .app_bar .mobile_menu .wa_btn .call:active {
  background-color: #8aff94;
  transform: scale(0.95);
}
.navbar .app_bar .mobile_menu.menu_open {
  right: 0;
}
.navbar .app_bar .overlay {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 250;
  height: 100vh;
  background-color: #000000;
  opacity: 0.55;
  display: none;
}
.navbar .app_bar .overlay.overlay_open {
  display: flex;
}

@media only screen and (max-width: 576px) {
  .navbar .app_bar {
    padding: 26px 25px 14px 25px;
  }
  .navbar .app_bar.scrollOverlay {
    background-color: #cffcc6;
    padding: 14px 20px 14px 20px;
  }
  .navbar .app_bar.scrollOverlay .navigation .tools_page_redirect {
    display: none;
  }
  .navbar .app_bar .app_logo {
    max-width: 120px;
  }
  .navbar .app_bar .navigation ul {
    display: none;
  }
  .navbar .app_bar .navigation .open_menu_svg {
    display: flex;
    width: 22px;
    height: 22px;
  }
  .navbar .app_bar .navigation .tools_page_redirect {
    display: none;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .navbar .app_bar {
    padding: 26px 25px 14px 25px;
  }
  .navbar .app_bar.scrollOverlay {
    background-color: #cffcc6;
    padding: 14px 20px 14px 20px;
  }
  .navbar .app_bar.scrollOverlay .navigation .tools_page_redirect {
    display: none;
  }
  .navbar .app_bar .app_logo {
    max-width: 120px;
  }
  .navbar .app_bar .navigation ul {
    display: none;
  }
  .navbar .app_bar .navigation .open_menu_svg {
    display: flex;
    width: 20px;
    height: 20px;
  }
  .navbar .app_bar .navigation .tools_page_redirect {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 915px) {
  .navbar .app_bar .navigation .nav_contact_btn {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */