.app_navbar {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  // background-color: rebeccapurple;
  width: 100%;
  max-width: 1380px;
  margin: auto;

  padding: 26px 75px 14px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .app_logo {
    width: 100%;
    height: auto;
    max-width: 140px;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 40px;
    ul {
      display: flex;
      align-items: center;

      li {
        display: inline-block;
        cursor: pointer;
        margin-left: 54px;
        font-weight: 400;
        color: black;
        font-style: normal;
        text-transform: capitalize;
        font-size: clamp(14px, 4vw, 16px);
        transition: all 120ms ease-in-out;

        &:hover {
          color: rgb(56, 56, 56);
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }

    .tools_page_redirect {
      transition: all 120ms ease-in-out;
      cursor: pointer;

      border: none;
      outline: none;
      border-radius: 4px;
      display: flex;
      font-size: clamp(14px, 4vw, 17px);
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 10px 12px;
      border: 1px solid black;
      font-weight: 600;
      color: black;
      background-color: transparent;
      text-transform: capitalize;
    }
  }
}
